In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [23]:
data=pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [24]:
data.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [25]:
lbl_enc=LabelEncoder()
data['Gender']=lbl_enc.fit_transform(data['Gender'])

data.head(10)

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0
5          645     Spain       1  ...               0        149756.71       1
6          822    France       1  ...               1         10062.80       0
7          376   Germany       0  ...               0        119346.88       1
8          501    France       1  ...               1         74940.50       0
9          684    France       1  ...               1         71725.73       0

[10 rows x 11 columns]

In [28]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
geo_enc=ohe.fit_transform(data[['Geography']]).toarray()
geo_enc_df=pd.DataFrame(geo_enc,columns=ohe.get_feature_names_out(['Geography']))
ohe.get_feature_names_out()
geo_enc_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [ ]:
data=pd.concat([data.drop('Geography',axis=1,),geo_enc_df],axis=1)

KeyError: "['Geography'] not found in axis"

In [31]:
data

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

In [32]:
#save the encoders and scaler
with open('lbl_enc.pkl', 'wb') as f:
    pickle.dump(lbl_enc, f)
with open('ohe.pkl', 'wb') as f:
    pickle.dump(ohe, f)

In [40]:
x=data.drop('Exited',axis=1)
y=data['Exited']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
x_train= scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [41]:
with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

ann implementation

In [36]:
%pip install tensorflow

import tensorflow as tf
from tensorflow.keras.models import Sequential

Requirement already satisfied: tensorflow in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (2.19.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorflow) (2.3.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorflow) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorflow) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorflow) (3.4.0)
Requirement already satisfied: packaging in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorflow) (25.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorflow) (5.29.5)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorflow) (2.32.4)
Requirement already satisfied: setuptools in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorflow) (78.1.1)
Requirement already satisfied: six>=1.12.0 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorflow) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorflow) (3.1.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorflow) (4.14.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorflow) (1.17.2)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorflow) (1.73.1)
Requirement already satisfied: tensorboard~=2.19.0 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorflow) (2.19.0)
Requirement already satisfied: keras>=3.5.0 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorflow) (3.10.0)
Requirement already satisfied: numpy<2.2.0,>=1.26.0 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorflow) (2.1.3)
Requirement already satisfied: h5py>=3.11.0 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorflow) (3.14.0)
Requirement already satisfied: ml-dtypes<1.0.0,>=0.5.1 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorflow) (0.5.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorflow) (0.31.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (2025.6.15)
Requirement already satisfied: markdown>=2.6.8 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorboard~=2.19.0->tensorflow) (3.8.2)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorboard~=2.19.0->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from tensorboard~=2.19.0->tensorflow) (3.1.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from astunparse>=1.6.0->tensorflow) (0.45.1)
Requirement already satisfied: rich in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from keras>=3.5.0->tensorflow) (14.0.0)
Requirement already satisfied: namex in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from keras>=3.5.0->tensorflow) (0.1.0)
Requirement already satisfied: optree in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from keras>=3.5.0->tensorflow) (0.16.0)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from werkzeug>=1.0.1->tensorboard~=2.19.0->tensorflow) (3.0.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from rich->keras>=3.5.0->tensorflow) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from rich->keras>=3.5.0->tensorflow) (2.19.2)
Requirement already satisfied: mdurl~=0.1 in c:\users\drdoa\anaconda3\envs\ann_env\lib\site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.5.0->tensorflow) (0.1.2)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [43]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(x_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1,activation='sigmoid')
    
])
model.summary()

c:\Users\drdoa\anaconda3\envs\ann_env\lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [51]:
import tensorflow
opt= tensorflow.keras.optimizers.Adam(learning_rate=0.001)
opt
model.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy'])

In [57]:

#set up tensorboard
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tf_clb= TensorBoard(log_dir=log_dir, histogram_freq=1)
es= EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)
#train the model
history=model.fit(
    x_train,y_train,validation_data=(x_test,y_test), epochs=100,callbacks=[es,tf_clb]
    )

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8642 - loss: 0.3182 - val_accuracy: 0.8625 - val_loss: 0.3372
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8688 - loss: 0.3108 - val_accuracy: 0.8590 - val_loss: 0.3441
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8762 - loss: 0.2988 - val_accuracy: 0.8600 - val_loss: 0.3424
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8752 - loss: 0.3009 - val_accuracy: 0.8600 - val_loss: 0.3378
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8762 - loss: 0.2987 - val_accuracy: 0.8600 - val_loss: 0.3393
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8744 - loss: 0.3019 - val_accuracy: 0.8585 - val_loss: 0.3387
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8775 - loss: 0.2955 - val_accuracy: 0.8620 - val_loss: 0.3439
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8725 - loss: 0.3016 - val_accuracy: 0.8570 - val_loss: 0.3406
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8814 - loss: 0.2939 - val_accuracy: 0.8560 - val_loss: 0.3429
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8795 - loss: 0.2969 - val_accuracy: 0.8525 - val_loss: 0.3515
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8792 - loss: 0.2889 - val_accuracy: 0.8590 - val_loss: 0.3462

In [60]:
model.save('ann_model.h5')
%load_ext tensorboard
%tensorboard --logdir logs/fit

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6006 (pid 27672), started 0:02:12 ago. (Use '!kill 27672' to kill it.)